body{

}
.op-top-links{
	background: url(../images/background-gradient-top-links.png) repeat-y right center;
}
.op-top-links li{
	display:inline-block;
	border-left: 1px solid #BBB;
}
.op-logo img{ width:auto; }
.op-header .op-site-subtitle{
	top:34px;
	left:87px;
	font-size: 0.9em;
}
#quick-search{ display:block; }
.op-h-nav li{
	display:inline-block;

}
.op-h-nav li.mobile-menu{
	display:none !important;
}
.op-h-nav{
	padding:8px 5px 0px 5px;

}
.op-h-nav li a{
	text-decoration:none;
	border-radius:5px 5px 0 0;
	display:inline-block;
	padding:3px 10px;
	border-bottom:0;
}
.op-h-nav li a.selected{
	padding:4px 10px 3px;
}

.op-h-nav ul.sub-menu{
	position:absolute;
	margin:0; padding:0;
	min-width:140px;
	border:1px solid #DDD;
	border-top:0;
	display:none;
	z-index:123;
}
.op-h-nav ul.sub-menu li{
	display:block;
}
.op-h-nav ul.sub-menu li a{
	display:block;
	background-color:#F5F5F5 !important;
	color:#444 !important;
	border-radius:0;
	padding:6px 10px;
}
.op-h-nav ul.sub-menu li a:hover,
.op-h-nav ul.sub-menu li a:focus{
	text-decoration:underline;
}

.opendata .mobile-menu{
	display: none;
}


ul.left-menu{ margin-left:25px; }






.flex-row{
  display: flex;
	flex-wrap:nowrap;
}

.flex-md-3{
  width: 25%;
  padding: 0 15px;
}
.flex-md-6{
  width: 50%;
  padding: 0 15px;
}
.double-column{
  column-count: 2;
	-moz-column-count:2;
}
