[main]
dont_bundle =
    vendor/jquery.js
	js/chosen-trigger.js
	js/application.js
	js/edit.js
	js/rdft_resource-distribution.js
	js/rdft_edit.js
	js/group.js
	js/new_dataset_slug_preview.js
	js/data_viewer.js
	vendor/bootstrap/js/bootstrap.js
	js/openness.js
    js/ecportal.js
    js/rdft_ecportal.js
    js/manage_dashboard.jsl
    vendor/jquery-ui/jquery-ui.js
    vendor/js-cookie/js.cookie.js
    css/ecportal.css
    js/webtrends.js
    vendor/select2-latest/select2-4.0.5/dist/css/select2.js
    vendor/jquery.form.js
    vendor/jquery.chosen/1.8.3/chosen.jquery.js
    js/chosen-trigger.js
    vendor/jquery-tablesorter/jquery.tablesorter.js
    vendor/jquery-tablesorter/blue/style.css
    js/tracking.js
    vendor/jquery-collapse/jquery.collapsible.js
    js/ip_ecportal.js
    js/ip_edit.js
    vendor/jquery-layout/jquery.layout.js
    js/manage_package.js
    js/ip_distribution.js
    js/ip_documentation.js
    js/ip_visualization.js



force_top = vendor/html5.js


[IE conditional]

lte IE 8 = vendor/html5.js block_html5_shim

[custom render order]

vendor/bootstrap/css/bootstrap.css = 1
css/op.css = 2
css/op-medium.css = 3
css/op-large.css = 4
css/entities.css = 5
css/odp.css = 6
vendor/jquery.js = 1
vendor/bootstrap/js/bootstrap.js = 2
block_html5_shim = 1
vendor/html5.js = 3
vendor/select2-latest/select2-4.0.5/dist/css/select2.css = 6
vendor/jquery-layout/jquery.layout.js = 5
js/manage_package.js = 6
vendor/jquery.chosen/1.8.3/chosen.jquery.js = 7
js/chosen-trigger.js = 7
vendor/select2-latest/select2-4.0.5/dist/js/select2.js = 6
js/edit.js = 7
vendor/jquery-layout/layout-default.css = 8
css/custom_checkbox.css = 9


[inline scripts]

block_html5_shim =
    var html5 = {shivMethods: false};

[depends]
bootstrap = vendor/jquery.js
chosen = vendor/jquery.js
select2 = vendor/jquery.js
jqcloud = vendor/jquery.js
jquery_ui = vendor/jquery.js
ecportal_edit = vendor/jquery.js
group_list = vendor/jquery.js
ecportal_new_dataset = vendor/jquery.js
rdft_ecportal_new_dataset = vendor/jquery.js
dataset_tools = vendor/jquery.js
ecportal_manage_package = vendor/jquery.js
rdftool_delete = vendor/jquery.js
rdftool_assign_doi = vendor/jquery.js

[groups]

bootstrap =
    vendor/bootstrap/js/bootstrap.js

jquery_ui =
    vendor/jquery-ui/jquery-ui.js

jqcloud =
	vendor/jqcloud/1.0.4/jqcloud-min.js
	vendor/jqcloud/1.0.4/jqcloud.css
	js/jcloud-trigger.js

chosen =
    vendor/jquery.chosen/1.8.3/chosen.jquery.js
    js/chosen-trigger.js

select2 =
    vendor/select2-latest/select2-4.0.5/dist/js/select2.js
    vendor/select2-latest/select2-4.0.5/dist/css/select2.css

extra =
    vendor/jed.js
    vendor/html5.js

fileupload =
    vendor/jquery.ui.widget.js
    vendor/jquery-fileupload/jquery.iframe-transport.js
    vendor/jquery-fileupload/jquery.fileupload.js

reorder =
    vendor/jquery.ui.core.js
    vendor/jquery.ui.widget.js
    vendor/jquery.ui.mouse.js
    vendor/jquery.ui.sortable.js

ecportal =
    css/ecportal.css
    js/ecportal.js
    css/custom_checkbox.css
    vendor/js-cookie/js.cookie.js
    js/ecportal_cookies.js

ecportal_base =
    js/op.js
    vendor/js-cookie/js.cookie.js
    js/ecportal_cookies.js
	js/data_viewer.js
    vendor/jquery-ui/jquery-ui.js
    vendor/jquery-ui/jquery-ui.css

recportal_data =
    js/rdft_ecportal.js

rdft_ecportal =
    js/rdft_ecportal.js
    js/rdft_resource-documentation.js
    js/rdft_resource-distribution.js
    js/rdft_resource-visualization.js


catalog_ecportal =
    js/catalog.js


ecportal_edit =
    js/edit.js

rdft_ecportal_edit =
    js/rdft_ecportal.js
    js/rdft_edit.js
    js/rdft_resource-documentation.js
    js/rdft_resource-distribution.js
    js/rdft_resource-visualization.js

group_list =
    js/group.js

ecportal_new_dataset =
    js/new_dataset_slug_preview.js
    css/add_import_dataset.css

rdft_ecportal_new_dataset =
    js/rdft_dataset_slug_preview.js


jquery_form =
    vendor/jquery.form.js


ecportal_manage_package =
    js/ip_ecportal.js
    js/ip_edit.js
    vendor/jquery-collapse/jquery.collapsible.js
    vendor/jquery-layout/jquery.layout.js
    js/manage_package.js
    js/ip_distribution.js
    js/ip_documentation.js
    js/ip_visualization.js

ecportal_manage_dashboard =
    js/manage_dashboard.js
    js/jquery-confirm.js

dataset_tools =
    js/dataset_tools.js

datatable =
    vendor/datatable/jquery.dataTables.js
    vendor/datatable/jquery.dataTables.css
    vendor/charts/Chart.js

openness =
    js/openness.js
    css/openness.css

table_sorter =
    vendor/jquery-tablesorter/jquery.tablesorter.js
    vendor/jquery-tablesorter/blue/style.css

rdftool_delete =
    js/rdftool_delete.js

rdftool_assign_doi =
    js/rdftool_assign_doi.js

rdftool_privacy_state =
  js/rdftool_privacy_state.js

blockui =
  js/jquery.blockUI.js

bulk_edit =
  js/bulk_edit.js

ecportal_manage_upload =
    js/manage_upload.js

webtrends =
    js/webtrends.js

user_mamangement =
    js/user_management.js
    css/manage_user.css

ingestion_report =
    js/ingestion_report.js
    css/ingestion_report.css

tracking =
    js/tracking.js

broken_links =
    js/broken_links.js